// CONFIG FIREBASE (COLE SUAS CHAVES)
const firebaseConfig = {
  apiKey: "COLE_AQUI",
  authDomain: "COLE_AQUI",
  projectId: "COLE_AQUI",
  storageBucket: "COLE_AQUI",
  messagingSenderId: "COLE_AQUI",
  appId: "COLE_AQUI"
};

firebase.initializeApp(firebaseConfig);
const auth = firebase.auth();
const db = firebase.firestore();

// LOGIN GOOGLE
const provider = new firebase.auth.GoogleAuthProvider();

function loginGoogle(){
auth.signInWithPopup(provider);
}

function logout(){
auth.signOut();
}

// VERIFICAR LOGIN
auth.onAuthStateChanged(user=>{
if(user){
loginScreen.style.display="none";
app.style.display="block";
carregarDados();
}else{
loginScreen.style.display="flex";
app.style.display="none";
}
});
}
