body{
margin:0;
font-family:Arial;
background:#0b0f14;
color:white;
}

header{
background:#111827;
padding:15px;
display:flex;
justify-content:space-between;
}

nav{
background:#1f2937;
padding:10px;
display:flex;
gap:10px;
}

button{
padding:10px;
border:none;
border-radius:6px;
background:#374151;
color:white;
cursor:pointer;
}

button:hover{
background:#4b5563;
}

.pagina{
display:none;
}
